@import '/fonts/stylesheet.css';

:root {
}

body {
    font-family: "HelveticaNeueCyr", Helvetica, Arial, sans-serif !important;
    color: #303030;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    border: none;
    padding: 0;
    background: unset;
    cursor: pointer;
}

.btn-red {
    display: flex;
    height: 52px;
    padding: 0 46px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #AE0E30;
    width: max-content;
    text-decoration: none;
    white-space: nowrap;

    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.btn-black {
    display: flex;
    width: max-content;
    height: 38px;
    padding: 21px 24px;
    justify-content: center;
    align-items: center;
    background: #303030;
    white-space: nowrap;

    color: #FFF;
    font-size: 14px;
}

.btn-grey {
    display: flex;
    width: max-content;
    height: 52px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    background: #F1F1F1;
}

.site_header {
    color: #303030;
    font-size: 36px;
    font-weight: 700;
}

.container {
    /*width: 1170px;*/
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}


.about-us {
    display: flex;
    gap: 46px;
    margin-top: 50px;
}

.about-us_text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.about-us_text-content {
    color: #68687D;
    font-size: 18px;
    line-height: 26px;
}

.about-us_btn-go-to-catalog {
}

.about-us_video-wrapper {
    max-width: 445px;
    width: 100%;
    max-height: 247px;
}

.about-us_video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.the-numbers-speak {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
}

.the-numbers-speak_header {
    display: none;
}

.the-numbers-speak_top-wrapper {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.the-numbers-speak_top-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: #AE0E30;
    font-size: 36px;
    font-weight: 700;
}

.the-numbers-speak_top-item span {
    color: #68687D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.the-numbers-speak_top-item span br {
    display: none;
}

.the-numbers-speak_line-separator {
    width: 100%;
    border: none;
    border-bottom: solid #DBDBDB 1px;
}

.the-numbers-speak_bottom-wrapper {
    display: flex;
    justify-content: space-around;
}

.the-numbers-speak_bottom-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
    color: #303030;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.the-numbers-speak_bottom-item span {
    color: #68687D;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}


.sell-products {
    display: flex;
    flex-direction: column;
    gap: 49px;
    margin-top: 80px;
}

.sell-products_header {
}

.sell-products_items-wrapper {
    display: flex;
    gap: 30px;
}

.sell-products_left-items-wrapper {
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sell-products_item-content {
    max-width: 436px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
}

.sell-products_item-content.close {
    height: 40px;
}

.sell-products_item {
    max-width: 525px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 19px;
    background: #E8EDF0;
    color: #68687D;
    font-size: 14px;
    line-height: 20px;
    height: max-content;
}

.sell-products_toggle-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 32px;
    border-radius: 50%;
    background: #AE0E30;
}

.sell-products_toggle-hidden:after {
    width: 15px;
    height: 15px;
    display: block;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M0.691406 8.00012H15.3068' stroke='%23E8EDF0' stroke-width='3'/%3E%3Cpath d='M8 0.692383L8 15.3078' stroke='%23E8EDF0' stroke-width='3'/%3E%3C/svg%3E");
}

.sell-products_toggle-hidden.close:after {
    transform: rotate(45deg);
}

.sell-products_item_btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #68687D;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.sell-products_Submit-your-application {
    width: 152px;
    height: 38px;
    padding: 21px 24px;
    font-size: 14px;
}


.our-services {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(290px, 44vw, 525px), 1fr));
    column-gap: 30px;
    row-gap: 94px;
}

.our-services_item {
    max-width: 525px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 18px;
    border: 1px solid #DFDFDF;
    padding: 30px;
}

.our-services_img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 89px;
    height: 100%;
}

.our-services_header {
    margin-top: 20px;
    color: #AE0E30;
    font-size: 24px;
    font-weight: 700;
}

.our-services_description {
    color: #303030;
    font-size: 16px;
    line-height: 26px;
}

.our-services_more-details {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 18px;
    color: #AE0E30;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.our-services_more-details:after {
    display: block;
    content: '';
    width: 30px;
    height: 7px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='8' viewBox='0 0 31 8' fill='none'%3E%3Cpath d='M30.3536 4.35356C30.5488 4.15829 30.5488 3.84171 30.3536 3.64645L27.1716 0.464468C26.9763 0.269206 26.6597 0.269206 26.4645 0.464468C26.2692 0.659731 26.2692 0.976313 26.4645 1.17158L29.2929 4L26.4645 6.82843C26.2692 7.02369 26.2692 7.34027 26.4645 7.53554C26.6597 7.7308 26.9763 7.7308 27.1716 7.53554L30.3536 4.35356ZM-4.37114e-08 4.5L30 4.5L30 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z' fill='%23303030'/%3E%3C/svg%3E");
}


.our-theme {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.our-theme_header {
    color: #303030;
    font-size: 28px;
}

.our-theme_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.vacancies-filter {
    margin-top: 33px;
    display: flex;
    column-gap: 10px;
    row-gap: 20px;
}

.vacancies-filter_btn {
    height: 46px;
    display: flex;
    padding: 13px 23px;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBDBDB;
    color: #444;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    white-space: nowrap;
}

.vacancies-filter_label {
    width: 100%;
    height: 46px;
    display: flex;
    position: relative;
}

.vacancies-filter_label:after {
    position: absolute;
    cursor: pointer;
    right: 11px;
    top: 11px;
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_1142_430)'%3E%3Cpath d='M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z' fill='%23AE0E30'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1142_430'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.vacancies-filter_input {
    width: 100%;
    padding: 20px 15px;
    border: 1px solid #DBDBDB;
    color: #303030;
    font-size: 14px;
    font-weight: 400;
}


.vacancies_item-wrapper {
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.vacancies_item {
    padding: 32px;
    border: 1px solid #DBDBDB;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.vacancies_item_status {
    width: max-content;
    height: 32px;
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F1F1F1;
    color: #444;
    font-size: 12px;
    line-height: 20px;
}

.vacancies_item_job-title {
    display: flex;
    flex-wrap: wrap;
    column-gap: 152px;
    row-gap: 22px;
}

.vacancies_item_job-title-item {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: #303030;
    font-size: 20px;
    font-weight: 700;
}

.vacancies_item_job-title-item span {
    color: #68687D;
    font-size: 12px;
    font-weight: 500;
}

.vacancies_item_job-title-item:nth-child(2) {
    color: #AE0E30;
}

.vacancies_item_dividing-line {
    width: 100%;
    border: none;
    border-bottom: solid #DBDBDB 1px;
}

.vacancies_item_obligation-wrapper {
    margin-top: 33px;
    display: grid;
    column-gap: 46px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(clamp(290px, 28vw, 404px), max-content));
    overflow: hidden;
    height: 150px;
}

.vacancies_item_obligation-wrapper.close {
    height: 100%;
}

.vacancies_item_obligation {
    width: 100%;
    max-width: 404px;
}

.vacancies_item_obligation_header {
    color: #68687D;
    font-size: 12px;
    font-weight: 500;
}

.vacancies_item_obligation_item-wrapper {
    margin: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.vacancies_item_obligation-item {
    color: #68687D;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px
}

.vacancies_item_btn-wrapper {
    margin-top: 15px;
    display: flex;
    gap: 21px;
}

.vacancies_item_btn-hidden {
    width: 165px;
}

.vacancies_item_btn-hidden.close {
    display: none;
}

.vacancies_item_btn-send-cv {
}


.vacancies-contacts {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 44px 47px;
    background: #E8EDF0;
}

.vacancies-contacts_header {
    color: #303030;
    font-size: 20px;
    font-weight: 700;
    line-height: 31px;
}

.vacancies-contacts_item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #68687D;
    font-size: 16px;
    line-height: 26px;
}

.vacancies-contacts_tel,
.vacancies-contacts_mail {
    color: #303030;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
}

.vacancies-contacts_btn-send-cv {
    width: 238px;
    height: 52px;
    padding: 21px 46px;
}


.contacts {
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}

.contacts_items-wrapper {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: clamp(290px, 51vw, 635px);
    width: 100%;
    border: 1px solid #E7E7E7;
    padding: 36px;
}

.contacts_item {
    display: flex;
    gap: 17px;
}

.contacts_item:before {
    display: block;
    content: '';
    max-width: 37px;
    width: 100%;
    max-height: 37px;
    height: 100%;
}

.contacts_item_text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: #303030;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.contacts_item_sub-title {
    color: #909090;
    font-size: 12px;
    line-height: 18px;
}

.contacts_item:nth-child(1):before {

}

.contacts_item:nth-child(2):before {

}

.contacts_item:nth-child(3):before {

}

.contacts_item span {
    color: #68687D;
    font-size: 14px;
    line-height: 26px;
}

.contacts_item_tel {
    color: #303030;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
}

.contacts_form-wrapper {
    order: 2;
    margin-top: 14px;
    max-width: clamp(290px, 37vw, 360px);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contacts_form-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacts_form-wrapper label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    color: #303030;
    font-size: 14px;
}

.contacts_form_header {
    color: #303030;
    font-size: 20px;
    font-weight: 500;
}

.contacts_form_input {
    background: #E8EDF0;
    padding: 20px;
    font-size: 14px;
    border: none;
}

.contacts_form_input::placeholder {
    color: #023252;
    opacity: 0.6;
}

.contacts_form_btn {
    margin-top: 10px;
    border: none;
}

.contacts_form_sub-title {
    opacity: 0.6;
    color: #303030;
    font-size: 12px;
    line-height: 18px;
}

.contacts_form_sub-title a {
    color: #303030;
    text-decoration-line: underline;
}


.contacts_map_wrapper {
    order: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts_map {
    width: 100%;
    height: 100%;
    max-height: 390px;
}

.contacts_link-wrapper {
    display: flex;
}

.contacts_link {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.contacts_link:nth-child(2) {
    color: #303030;
    border: 1px solid #DFDFDF;
}

.contacts_requisites {
    max-width: 426px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts_requisites_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #909090;
    font-size: 14px;
    line-height: 24px;
}

.contacts_requisites_text span {
    color: #303030;
    font-size: 20px;
    font-weight: 500;
}

.contacts_requisites-download {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #AE0E30;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-decoration-line: underline;
}

.contacts_requisites-download:before {
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_1093_496)'%3E%3Cpath d='M14.25 6.75H11.25V2.25H6.75V6.75H3.75L9 12L14.25 6.75ZM3.75 13.5V15H14.25V13.5H3.75Z' fill='%23AE0E30'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1093_496'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}


.product-cards_header-wrapper {
    display: flex;
    align-items: center;
    gap: 128px;
}

.product-cards_header {
    color: #303030;
    font-size: 24px;
    font-weight: 700;
}

.product-cards_view {
    display: flex;
    gap: 6px;
    white-space: nowrap;

    color: #C5C5C5;
    font-size: 10px;
}

.product-cards_view:before {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cg clip-path='url(%23clip0_1004_1121)'%3E%3Cpath d='M5.00033 2.50008C6.57949 2.50008 7.98783 3.38758 8.67533 4.79175C7.98783 6.19591 6.57949 7.08341 5.00033 7.08341C3.42116 7.08341 2.01283 6.19591 1.32533 4.79175C2.01283 3.38758 3.42116 2.50008 5.00033 2.50008ZM5.00033 1.66675C2.91699 1.66675 1.13783 2.96258 0.416992 4.79175C1.13783 6.62091 2.91699 7.91675 5.00033 7.91675C7.08366 7.91675 8.86283 6.62091 9.58366 4.79175C8.86283 2.96258 7.08366 1.66675 5.00033 1.66675ZM5.00033 3.75008C5.57533 3.75008 6.04199 4.21675 6.04199 4.79175C6.04199 5.36675 5.57533 5.83341 5.00033 5.83341C4.42533 5.83341 3.95866 5.36675 3.95866 4.79175C3.95866 4.21675 4.42533 3.75008 5.00033 3.75008ZM5.00033 2.91675C3.96699 2.91675 3.12533 3.75841 3.12533 4.79175C3.12533 5.82508 3.96699 6.66675 5.00033 6.66675C6.03366 6.66675 6.87533 5.82508 6.87533 4.79175C6.87533 3.75841 6.03366 2.91675 5.00033 2.91675Z' fill='%23B00F31'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1004_1121'%3E%3Crect width='10' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}


.product-cards_top-line {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product-cards_grade-wrappers {
    display: flex;
    align-items: center;
    gap: 19px;
}

.product-cards_grade-star-wrappers {
    display: flex;
    gap: 4px;
}

.product-cards_grade-star {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M5 7.635L8.09 9.5L7.27 5.985L10 3.62L6.405 3.315L5 0L3.595 3.315L0 3.62L2.73 5.985L1.91 9.5L5 7.635Z' fill='%23E5E5E5'/%3E%3C/svg%3E");
}

.product-cards_grade-star.is-active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M5 7.635L8.09 9.5L7.27 5.985L10 3.62L6.405 3.315L5 0L3.595 3.315L0 3.62L2.73 5.985L1.91 9.5L5 7.635Z' fill='%23FFD233'/%3E%3C/svg%3E");
}

.product-cards_grade-value {
    color: #A7A7A7;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
}

.product-cards_review-value {
    color: #A7A7A7;
    font-size: 10px;
    font-weight: 500;
}

.product-cards_review-value span {
    color: #B00F31;
}

.product-cards_vendor-code-wrapper {
    display: flex;
    align-items: center;
    gap: 26px;
}

.product-cards_vendor-code {
    color: #8F8F8F;
    font-size: 10px;
    font-weight: 500;
}

.product-cards_vendor-code span {
    color: #303030;
}

.product-cards_follow {
    display: flex;
    gap: 6px;
    align-items: center;

    color: #303030;
    font-size: 10px;
    font-weight: 500;
}

.product-cards_follow:after {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_1004_1064)'%3E%3Cpath d='M12 10.7199C11.4933 10.7199 11.04 10.9199 10.6933 11.2333L5.94 8.46659C5.97333 8.31325 6 8.15992 6 7.99992C6 7.83992 5.97333 7.68659 5.94 7.53325L10.64 4.79325C11 5.12659 11.4733 5.33325 12 5.33325C13.1067 5.33325 14 4.43992 14 3.33325C14 2.22659 13.1067 1.33325 12 1.33325C10.8933 1.33325 10 2.22659 10 3.33325C10 3.49325 10.0267 3.64659 10.06 3.79992L5.36 6.53992C5 6.20659 4.52667 5.99992 4 5.99992C2.89333 5.99992 2 6.89325 2 7.99992C2 9.10659 2.89333 9.99992 4 9.99992C4.52667 9.99992 5 9.79325 5.36 9.45992L10.1067 12.2333C10.0733 12.3733 10.0533 12.5199 10.0533 12.6666C10.0533 13.7399 10.9267 14.6133 12 14.6133C13.0733 14.6133 13.9467 13.7399 13.9467 12.6666C13.9467 11.5933 13.0733 10.7199 12 10.7199Z' fill='%23B00F31'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1004_1064'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}


.product-cards {
    margin-top: 23px;
    display: grid;
    grid-template-areas:
            "A A  B B  D D"
            "A A  C C  D D";
    border: 1px solid #E5E5E5;
}

.product-cards_gallery-wrap {
    grid-area: A;
    width: 380px;
    border-right: 1px solid #E5E5E5;
    padding: 20px;
}

.product-cards_gallery_showcase {
    margin-top: 32px;
    max-width: 320px;
    width: 100%;
    height: 212px;
    padding: 10px;
}

.product-cards_gallery_showcase img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.product-cards_gallery_items-wrapper {
    margin-top: 26px;
    display: flex;
    gap: 7px;
}

.product-cards_gallery_item {
    width: 85px;
    height: 67px;
    border: 1px solid #E5E5E5;
    padding: 13px 11px;
    cursor: pointer;
}

.product-cards_gallery_item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.product-cards_characteristic-wrapper {
    grid-area: B;
    max-width: 445px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding: 30px 29px;
    border-bottom: 1px solid #E5E5E5;
}

.product-cards_characteristic_header {
    color: #303030;
    font-size: 14px;
    font-weight: 700;
}

.product-cards_characteristic {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.product-cards_characteristic_item {
    display: flex;
    color: #A7A7A7;
    font-size: 12px;
}

.product-cards_characteristic_item-line {
    width: 84%;
    border-bottom: solid 1px #F1F1F1;
}

.product-cards_characteristic_item-price {
    max-width: 173px;
    width: 100%;
    color: #68687D;
    font-size: 12px;
    font-weight: 500;
}

.product-cards_characteristic_view-all-specifications {
    margin-top: 4px;
    display: flex;
    gap: 10px;
    align-items: end;

    color: #68687D;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

.product-cards_characteristic_view-all-specifications:after {
    display: block;
    content: '';
    width: 10px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 9 9' fill='none'%3E%3Cpath d='M8.57107 1.00022C8.57107 0.724079 8.34721 0.500221 8.07107 0.500221L3.57107 0.500222C3.29493 0.500221 3.07107 0.724079 3.07107 1.00022C3.07107 1.27636 3.29493 1.50022 3.57107 1.50022L7.57107 1.50022L7.57107 5.50022C7.57107 5.77636 7.79493 6.00022 8.07107 6.00022C8.34721 6.00022 8.57107 5.77636 8.57107 5.50022L8.57107 1.00022ZM1.35355 8.42484L8.42462 1.35377L7.71751 0.646668L0.646447 7.71774L1.35355 8.42484Z' fill='%23B00F31'/%3E%3C/svg%3E");
}


.product-cards_shipping-and-payment {
    grid-area: C;
    max-width: 445px;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.product-cards_shipping-and-payment_item {
    display: flex;
    gap: 14px;
}

.product-cards_shipping-and-payment_item:nth-child(1) .product-cards_shipping-and-payment_icon:after {
    display: block;
    content: '';
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1005_1621)'%3E%3Cpath d='M19.1663 7.66671H16.2913V3.83337H2.87467C1.82051 3.83337 0.958008 4.69587 0.958008 5.75004V16.2917H2.87467C2.87467 17.8825 4.15884 19.1667 5.74967 19.1667C7.34051 19.1667 8.62467 17.8825 8.62467 16.2917H14.3747C14.3747 17.8825 15.6588 19.1667 17.2497 19.1667C18.8405 19.1667 20.1247 17.8825 20.1247 16.2917H22.0413V11.5L19.1663 7.66671ZM5.74967 17.7292C4.95426 17.7292 4.31217 17.0871 4.31217 16.2917C4.31217 15.4963 4.95426 14.8542 5.74967 14.8542C6.54509 14.8542 7.18717 15.4963 7.18717 16.2917C7.18717 17.0871 6.54509 17.7292 5.74967 17.7292ZM18.6872 9.10421L20.5655 11.5H16.2913V9.10421H18.6872ZM17.2497 17.7292C16.4543 17.7292 15.8122 17.0871 15.8122 16.2917C15.8122 15.4963 16.4543 14.8542 17.2497 14.8542C18.0451 14.8542 18.6872 15.4963 18.6872 16.2917C18.6872 17.0871 18.0451 17.7292 17.2497 17.7292Z' fill='%23AE0E30'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1005_1621'%3E%3Crect width='23' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.product-cards_shipping-and-payment_item:nth-child(2) .product-cards_shipping-and-payment_icon:after {
    display: block;
    content: '';
    width: 23px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.7895 18.3333V19.5556C21.7895 20.9 20.7 22 19.3684 22H2.42105C1.07737 22 0 20.9 0 19.5556V2.44444C0 1.1 1.07737 0 2.42105 0H19.3684C20.7 0 21.7895 1.1 21.7895 2.44444V3.66667H10.8947C9.55105 3.66667 8.47368 4.76667 8.47368 6.11111V15.8889C8.47368 17.2333 9.55105 18.3333 10.8947 18.3333H21.7895ZM10.8947 15.8889H23V6.11111H10.8947V15.8889ZM15.7368 12.8333C14.7321 12.8333 13.9211 12.0144 13.9211 11C13.9211 9.98556 14.7321 9.16667 15.7368 9.16667C16.7416 9.16667 17.5526 9.98556 17.5526 11C17.5526 12.0144 16.7416 12.8333 15.7368 12.8333Z' fill='%23AE0E30'/%3E%3C/svg%3E%0A");
}

.product-cards_shipping-and-payment_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 53px;
    width: 100%;
    height: 42px;
    border: 1px solid #E5E5E5;
}

.product-cards_shipping-and-payment_text {
    color: #303030;
    font-size: 12px;
    line-height: 18px;
}


.product-cards_price-and-purchase {
    grid-area: D;
    max-width: 285px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 30px;
    border-left: 1px solid #E5E5E5;
}

.product-cards_price-and-purchase_price {
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: #8F8F8F;
    font-size: 12px;
    font-weight: 500;
}

.product-cards_price-and-purchase_price span {
    color: #B00F31;
    font-size: 26px;
    font-weight: 700;
}

.product-cards_price-and-purchase_discount {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 11px;

    color: #CACACA;
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
}

.product-cards_price-and-purchase_discount span {
    padding: 5px 10px;
    background: #B00F31;

    color: #FFF;
    font-size: 12px;
    font-weight: 500;
}

.product-cards_price-and-purchase_manufacturer {
    margin-top: 52px;
    display: flex;
    gap: 6px;

    color: #303030;
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
}

.product-cards_price-and-purchase_manufacturer span {
    color: #B00F31;
}

.product-cards_price-and-purchase_in-stock {
    margin-top: 26px;
    display: flex;
    align-items: center;
    gap: 11px;

    color: #68687D;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}

.product-cards_price-and-purchase_in-stock:before {
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6' fill='none'%3E%3Ccircle cx='3' cy='3' r='3' fill='%23B00F31'/%3E%3C/svg%3E");
}

.product-cards_price-and-purchase_add-to-basket,
.product-cards_price-and-purchase_Buy-in-a-click {
    max-width: 214px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.product-cards_price-and-purchase_add-to-basket {
    padding: 0 24px 0 55px;
    margin-top: 10px;
    position: relative;
}

.product-cards_price-and-purchase_add-to-basket span.pc-monitor {
    display: block;
}

.product-cards_price-and-purchase_add-to-basket span.mobile-monitor {
    display: none;
}

.product-cards_price-and-purchase_add-to-basket:before {
    position: absolute;
    display: block;
    content: '';
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cg clip-path='url(%23clip0_1005_1618)'%3E%3Cpath d='M6.41699 16.5C5.40866 16.5 4.59283 17.325 4.59283 18.3334C4.59283 19.3417 5.40866 20.1667 6.41699 20.1667C7.42533 20.1667 8.25033 19.3417 8.25033 18.3334C8.25033 17.325 7.42533 16.5 6.41699 16.5ZM0.916992 1.83337V3.66671H2.75033L6.05033 10.6242L4.81283 12.87C4.66616 13.1267 4.58366 13.4292 4.58366 13.75C4.58366 14.7584 5.40866 15.5834 6.41699 15.5834H17.417V13.75H6.80199C6.67366 13.75 6.57283 13.6492 6.57283 13.5209L6.60033 13.4109L7.42533 11.9167H14.2545C14.942 11.9167 15.547 11.5409 15.8587 10.9725L19.1403 5.02337C19.2137 4.89504 19.2503 4.73921 19.2503 4.58337C19.2503 4.07921 18.8378 3.66671 18.3337 3.66671H4.77616L3.91449 1.83337H0.916992ZM15.5837 16.5C14.5753 16.5 13.7595 17.325 13.7595 18.3334C13.7595 19.3417 14.5753 20.1667 15.5837 20.1667C16.592 20.1667 17.417 19.3417 17.417 18.3334C17.417 17.325 16.592 16.5 15.5837 16.5Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1005_1618'%3E%3Crect width='22' height='22' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    left: 24px;
}

.product-cards_price-and-purchase_Buy-in-a-click {
    background: #E8EDF0;
}


.best-price-guarantee-wrapper {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.best-price-guarantee_header {
    color: #303030;
    font-size: 28px;
    font-weight: 700;
}

.best-price-guarantee_sub-title {
    max-width: 457px;
    color: #303030;
    font-size: 18px;
    line-height: 26px;
}

.best-price-guarantee {
    margin-top: 18px;
    display: flex;
    gap: 30px;
}

.best-price-guarantee_price-from-others-wrapper {
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #E5E5E5;
    padding: 26px;
}

.price-from-others_head {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 124px 124px 124px;
    border-bottom: solid 2px #E5E5E5;
    padding-bottom: 18px;
}

.price-from-others_head_item {
    width: max-content;
    padding: 5px 10px;
    background: #B00F31;

    color: #FFF;
    font-size: 12px;
    font-weight: 500;
}

.best-price-guarantee_price-from-others {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 124px 124px 124px;
    border-bottom: solid 2px #E5E5E5;
    padding: 13px 0 17px 0;
    height: 46px;
}

.price-from-others_item_logo {
    height: 28px;
    margin-top: -4%;
}

.price-from-others_item_text {
    color: #303030;
    font-size: 12px;
    line-height: 18px;
}

.best-price-guarantee_bottom_sub-title {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.best-price-guarantee_bottom_sub-title_item {
    color: #8F8F8F;
    font-size: 12px;
}


.best-price-guarantee_our-price {
    max-width: 540px;
    width: 100%;
    padding: 30px;
    border: 1px solid #E5E5E5;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.best-price-guarantee_price-wrapper {
    display: flex;
    justify-content: space-between;
}

.best-price-guarantee_price-wrapper .product-cards_price-and-purchase_price {
    font-size: 18px;
}

.best-price-guarantee_price-wrapper .product-cards_price-and-purchase_price span {
    font-size: 38px;
}

.best-price-guarantee_price-wrapper .product-cards_price-and-purchase_manufacturer {
    margin-top: 0;
}

.best-price-guarantee .product-cards_price-and-purchase_discount {
    font-size: 23px;
}

.best-price-guarantee .product-cards_price-and-purchase_discount span {
    font-size: 18px;
    padding: 9px 14px;
}

.best-price-guarantee .product-cards_price-and-purchase_in-stock {
    margin-top: 32px;
    font-size: 14px;
}

.best-price-guarantee_btn-wrapper {
    display: flex;
    gap: 10px;
}

.best-price-guarantee_btn-wrapper .product-cards_price-and-purchase_add-to-basket {
    margin-top: 0;
    padding: 0 46px;
}

.best-price-guarantee_btn-wrapper .product-cards_price-and-purchase_add-to-basket:before {
    display: none;
}


.description-and-specifications_background {
    margin-top: 80px;
    width: 100%;
    background: #FBFBFB;
    border-top: solid 2px #ECECF0;
    position: relative;
}

.description-and-specifications_line {
    position: absolute;
    width: 100%;
    top: 78px;
    border-top: solid 2px #ECECF0;
}

.description-and-specifications {
    display: flex;
    flex-direction: column;
    padding: 28px 0 24px 0;
}

.description-and-specifications_toggle-btn-wrapper {
    display: flex;
    gap: 63px;
}

.description-and-specifications_toggle {
    display: flex;
    gap: 14px;
    cursor: pointer;
}

.description-and-specifications_toggle:after {
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath d='M5 5.00061L24 24.0006' stroke='%23AE0E30' stroke-width='2.16667' stroke-linecap='square'/%3E%3Cpath d='M6.00098 25L25.001 25L25.001 6' stroke='%23AE0E30' stroke-width='2.16667' stroke-linecap='square'/%3E%3C/svg%3E");
}

.description-and-specifications_toggle-btn {
    color: #303030;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    border-bottom: 2px solid #FBFBFB;
}

.description-and-specifications_toggle-btn.active {
    border-bottom: 2px solid #AE0E30;
}

.description-and-specifications_content-wrapper {
    padding: 60px 0 40px 0;
}


.description-and-specifications_description.active,
.description-and-specifications_specifications.active {
    display: flex;
}

.description-and-specifications_specifications {
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 20px;
    display: none;
}

.description-and-specifications_specifications_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: clamp(290px, 41vw, 45%);
}

.description-and-specifications_specifications_item_text {
    white-space: nowrap;
    display: grid;
    grid-template-columns: max-content auto 190px;
    gap: 8px;

    color: #A7A7A7;
    font-size: 14px;
}

.description-and-specifications_specifications_item_line {
    width: 100%;
    border-bottom: solid 1px #F1F1F1;
}

.description-and-specifications_specifications_item_value {
    max-width: 190px;
    width: 100%;
    color: #68687D;
    font-weight: 400;
}

.description-and-specifications_description {
    display: none;
}

.description-and-specifications_description_item {
    color: #68687D;
    font-size: 14px;
    font-weight: 500;
}


.slider-wrapper-for-goods {
    position: relative;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.slider-wrapper-for-goods_header {
    color: #303030;
    font-size: 28px;
    font-weight: 700;
    line-height: 30px
}

.slider-wrapper-for-goods_swiper-wrapper {
}

.swiper-slider-wrapper-for-goods {
    width: 100%;
    height: 100%;
}

.slider-wrapper-for-goods_item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 20px;
    border: 1px solid #E5E5E5;
}

.slider-wrapper-for-goods_item_status {
    padding: 6px 10px;
    width: max-content;
    margin-left: -5px;

    color: #444;
    font-size: 10px;
    line-height: 10px;
}

.slider-wrapper-for-goods_item_status.status-blue {
    background: rgba(51, 206, 255, 0.40);
}

.slider-wrapper-for-goods_item_status.status-yellow {
    background: rgba(255, 210, 51, 0.40);
}

.slider-wrapper-for-goods_item_status.status-greenery {
    background: rgba(107, 255, 71, 0.40);
}

.slider-wrapper-for-goods_item_img {
    width: 100%;
    height: 139px;
    object-fit: cover;
    padding: 0 6px;
}

.slider-wrapper-for-goods_item_line {
    position: absolute;
    top: 190px;
    margin-top: 16px;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    left: 0;
}

.slider-wrapper-for-goods_item .product-cards_grade-wrappers {
    margin-top: 42px;
}

.slider-wrapper-for-goods_item_description {
    margin-top: 8px;
    overflow: hidden;
    color: #444;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: pre-wrap;
}

.slider-wrapper-for-goods_item_prices {
    margin-top: 27px;
    display: flex;
    gap: 6px;

    color: #AE0E30;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

.slider-wrapper-for-goods_item_prices span {
    color: #CACACA;
    text-decoration: line-through;
}

.slider-wrapper-for-goods_item .product-cards_price-and-purchase_in-stock {
    margin-top: 14px;
}

.slider-wrapper-for-goods_item .product-cards_price-and-purchase_add-to-basket,
.slider-wrapper-for-goods_item .product-cards_price-and-purchase_Buy-in-a-click {
    max-width: 168px;
    font-size: 12px;
}

.slider-wrapper-for-goods_item .product-cards_price-and-purchase_add-to-basket {
    padding: 0 16px 0 36px;
}

.slider-wrapper-for-goods_item .product-cards_price-and-purchase_add-to-basket:before {
    left: 14px;
}

.slider-wrapper-for-goods_slider-btn-wrapper {
    position: absolute;
    display: flex;
    gap: 11px;
    top: 0;
    right: 0;
    height: 46px;
    width: 103px;
}

.slider-wrapper-for-goods_prev,
.slider-wrapper-for-goods_next {
    width: 46px;
    height: 46px;
    cursor: pointer;
}

.slider-wrapper-for-goods_prev:after,
.slider-wrapper-for-goods_next:after {
    display: block;
    content: '';
    max-width: 46px;
    width: 100%;
    height: 46px;
}

.slider-wrapper-for-goods_prev:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Crect x='0.5' y='0.5' width='45' height='45' stroke='%23DEDEDE'/%3E%3Cpath d='M14.6464 22.6464C14.4512 22.8417 14.4512 23.1583 14.6464 23.3536L17.8284 26.5355C18.0237 26.7308 18.3403 26.7308 18.5355 26.5355C18.7308 26.3403 18.7308 26.0237 18.5355 25.8284L15.7071 23L18.5355 20.1716C18.7308 19.9763 18.7308 19.6597 18.5355 19.4645C18.3403 19.2692 18.0237 19.2692 17.8284 19.4645L14.6464 22.6464ZM31 22.5L15 22.5L15 23.5L31 23.5L31 22.5Z' fill='%23303030'/%3E%3C/svg%3E");
}

.slider-wrapper-for-goods_next:after {

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Crect width='46' height='46' fill='%23AE0E30'/%3E%3Cpath d='M31.3536 23.3536C31.5488 23.1583 31.5488 22.8417 31.3536 22.6464L28.1716 19.4645C27.9763 19.2692 27.6597 19.2692 27.4645 19.4645C27.2692 19.6597 27.2692 19.9763 27.4645 20.1716L30.2929 23L27.4645 25.8284C27.2692 26.0237 27.2692 26.3403 27.4645 26.5355C27.6597 26.7308 27.9763 26.7308 28.1716 26.5355L31.3536 23.3536ZM15 23.5L31 23.5L31 22.5L15 22.5L15 23.5Z' fill='white'/%3E%3C/svg%3E");
}










@media (max-width: 992px) {
    .about-us {
        flex-direction: column;
    }

    .about-us_video-wrapper {
        max-width: 100%;
        width: 100%;
        height: 270px;
    }

    .about-us_video {
        max-width: 100%;
        border-radius: 10px;
    }


    .the-numbers-speak_top-wrapper {
        display: flex;
        justify-content: center;
        gap: 80px;
    }

    .the-numbers-speak_bottom-wrapper {
        flex-wrap: wrap;
        gap: 20px;
    }


    .product-cards {
        grid-template-areas:
            "A A A A A A"
            "B B B D D D"
            "C C C D D D";
    }

    .product-cards_gallery-wrap {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #E5E5E5;
    }

    .product-cards_gallery_showcase {
        max-width: max-content;
        width: 100%;
        height: inherit;
    }


    .best-price-guarantee {
        flex-wrap: wrap;
    }

}

@media (max-width: 768px) {
    .sell-products_items-wrapper {
        flex-direction: column;
        gap: 30px;
    }

    .sell-products_left-items-wrapper {
        max-width: 100%;
    }

    .sell-products_item-content {
        max-width: 100%;
    }


    .vacancies-filter {
        flex-wrap: wrap;
    }


    .contacts_items-wrapper {
        order: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 635px;
        width: 100%;
        border: 1px solid #E7E7E7;
        padding: 36px;
    }


    .contacts_form-wrapper {
        order: 2;
        margin-top: 14px;
        max-width: 360px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }


    .product-cards_header-wrapper {
        flex-wrap: wrap;
        gap: 20px;
    }


    .product-cards_vendor-code {
        display: none;
    }


    .product-cards {
        grid-template-columns: 100%;
        grid-template-areas:
            "A A"
            "B B"
            "D D"
            "C C";
    }

    .product-cards_gallery-wrap {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #E5E5E5;
    }

    .product-cards_gallery_showcase {
        max-width: max-content;
        width: 100%;
        height: inherit;
    }

    .product-cards_price-and-purchase {
        max-width: 100%;
        border-left: none;
        border-bottom: 1px solid #E5E5E5;
    }

    .product-cards_characteristic-wrapper {
        max-width: 100%;
    }

    .product-cards_characteristic-wrapper .product-cards_vendor-code {
        display: block;
    }

    .product-cards_shipping-and-payment {
        max-width: 100%;
    }


    .description-and-specifications_specifications_item {
        width: 100%;
    }

}

@media (max-width: 570px) {
    .site_header {
        font-size: 18px;
    }

    .container {
        max-width: 320px;
        padding: 0;
    }


    .about-us {
        display: flex;
        gap: 30px;
        margin-top: 50px;
    }

    .about-us_text-wrapper {
        gap: 40px;
    }

    .about-us_text-content {
        font-size: 14px;
        line-height: 22px;
    }

    .about-us_btn-go-to-catalog {
        font-size: 16px;
        line-height: 24px;
    }


    .the-numbers-speak {
        gap: 28px;
        margin-top: 60px;
    }

    .the-numbers-speak_header {
        display: block;
        margin-top: 30px;
    }

    .the-numbers-speak_top-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .the-numbers-speak_top-item {
        align-items: flex-start;
        font-size: 36px;
    }

    .the-numbers-speak_top-item span {
        font-size: 16px;
        line-height: 22px;
        text-align: left;
    }

    .the-numbers-speak_top-item span br {
        display: block;
    }

    .the-numbers-speak_bottom-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
    }

    .the-numbers-speak_bottom-item {
        align-items: flex-start;
        font-size: 24px;
    }

    .the-numbers-speak_bottom-item span {
        font-size: 12px;
        line-height: 18px;
        text-align: left;

    }


    .sell-products_header {
        font-size: 18px;
    }

    .sell-products_item-content.close {
        height: 80px;
    }

    .sell-products_item {
        padding: 18px;
    }


    .our-services {
        margin-top: 60px;
        column-gap: 0;
        row-gap: 0;
    }

    .our-services_item {
        gap: 21px;
        padding: 20px;
    }

    .our-services_img {
        height: 89px;
    }

    .our-services_header {
        margin-top: 0;
        font-size: 18px;
    }

    .our-services_description {
        font-size: 14px;
    }

    .our-services_more-details {
        margin-top: 4px;
        font-size: 14px;
    }


    .our-theme {
        margin-top: 60px;
        gap: 30px;
    }

    .our-theme_header {
        font-size: 18px;
    }


    .vacancies-filter {
        margin-top: 17px;
    }

    .vacancies-filter_btn {
        height: 36px;
        padding: 8px 16px;
        font-size: 12px;
    }

    .vacancies-filter_label {
        width: 100%;
        height: 36px;
        display: flex;
        position: relative;
    }

    .vacancies-filter_label:after {
        right: 10px;
        top: 10px;
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_1144_716)'%3E%3Cpath d='M10.3333 9.33333H9.80667L9.62 9.15333C10.2733 8.39333 10.6667 7.40667 10.6667 6.33333C10.6667 3.94 8.72667 2 6.33333 2C3.94 2 2 3.94 2 6.33333C2 8.72667 3.94 10.6667 6.33333 10.6667C7.40667 10.6667 8.39333 10.2733 9.15333 9.62L9.33333 9.80667V10.3333L12.6667 13.66L13.66 12.6667L10.3333 9.33333ZM6.33333 9.33333C4.67333 9.33333 3.33333 7.99333 3.33333 6.33333C3.33333 4.67333 4.67333 3.33333 6.33333 3.33333C7.99333 3.33333 9.33333 4.67333 9.33333 6.33333C9.33333 7.99333 7.99333 9.33333 6.33333 9.33333Z' fill='%23AE0E30'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1144_716'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    .vacancies-filter_input {
        width: 100%;
        padding: 16px 12px;
        border: 1px solid #DBDBDB;
        font-size: 12px;
    }


    .vacancies_item-wrapper {
        margin-top: 39px;
        gap: 20px;
    }

    .vacancies_item {
        padding: 20px;
        gap: 20px;
    }

    .vacancies_item_status {
        padding: 4px 8px;
        font-size: 10px;
    }

    .vacancies_item_obligation-wrapper {
        margin-top: 0;
    }

    .vacancies_item_job-title-item {
        font-size: 16px;
    }

    .vacancies_item_btn-wrapper {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .vacancies_item_btn-hidden {
        width: 181px;
        height: 38px;
        padding: 6px 12px;
    }

    .vacancies_item_btn-send-cv {
        width: 181px;
        height: 38px;
    }


    .vacancies-contacts {
        padding: 26px;
    }

    .vacancies-contacts_header {
        font-size: 16px;
    }

    .vacancies-contacts_tel {
        color: #AE0E30;
    }

    .vacancies-contacts_btn-send-cv {
        margin-top: 16px;
        width: 181px;
        height: 38px;
        padding: 6px 12px;
    }


    .contacts {
        margin-top: 40px;
        row-gap: 40px;
    }

    .contacts_items-wrapper {
        gap: 20px;
        max-width: 100%;
        padding: 0;
        border: none;
    }

    .contacts_item_text {
        gap: 0;

        font-size: 12px;
        line-height: 20px
    }

    .contacts_item_text br {
        display: none;
    }

    .contacts_item_sub-title {
        font-size: 12px;
    }

    .contacts_item span {
        font-size: 12px;
        line-height: 18px
    }

    .contacts_item_tel {
        color: #AE0E30;
    }

    .contacts_form-wrapper {
        order: 3;
        max-width: 100%;
        width: 100%;
        gap: 12px;
    }

    .contacts_form-wrapper form {
        gap: 26px;
    }

    .contacts_form-wrapper label {
        gap: 10px;
    }

    .contacts_form_header {
        font-size: 18px;
        font-weight: 700;
    }


    .contacts_map_wrapper {
        order: 2;
        gap: 25px;
    }

    .contacts_map {
        height: 235px;
    }

    .contacts_link-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .contacts_link {
        font-size: 12px;
    }

    .contacts_requisites {
        margin-top: 5px;
        max-width: 100%;
    }

    .contacts_requisites_text {
        font-size: 12px;
        line-height: 20px
    }

    .contacts_requisites_text span {
        font-size: 14px;
    }

    .contacts_requisites-download {
        font-size: 12px;
        font-weight: 700;
    }


    .product-cards_header-wrapper {
        gap: 18px;
    }

    .product-cards_header {
        font-size: 18px;
        line-height: 26px;
    }

    .product-cards_view {
        display: none;
    }


    .product-cards_top-line {
        margin-top: 18px;
    }

    .product-cards_grade-wrappers {
        display: flex;
        align-items: center;
        gap: 19px;
    }


    .product-cards {
        margin-top: 26px;
    }

    .product-cards_gallery-wrap {
        padding: 10px;
        border-bottom: none;
    }

    .product-cards_gallery_showcase {
        margin-top: 0;
        padding: 12px 20px;
    }

    .product-cards_gallery_items-wrapper {
        margin-top: 7px;
    }


    .product-cards_characteristic-wrapper {
        gap: 20px;
        padding: 22px;
    }

    .product-cards_characteristic_header {
        margin-top: 2px;
    }

    .product-cards_characteristic {
        gap: 14px;
    }

    .product-cards_characteristic_item-price {
        max-width: 56px;
        width: 100%;
    }


    .product-cards_shipping-and-payment {
        padding: 22px 18px 20px 22px;
        gap: 24px;
    }

    .product-cards_shipping-and-payment_item {
        gap: 10px;
    }

    .product-cards_shipping-and-payment_item:nth-child(1) .product-cards_shipping-and-payment_icon:after {
        width: 20px;
        height: 14px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='15' viewBox='0 0 21 15' fill='none'%3E%3Cpath d='M17.5 4H14.875V0.5H2.625C1.6625 0.5 0.875 1.2875 0.875 2.25V11.875H2.625C2.625 13.3275 3.7975 14.5 5.25 14.5C6.7025 14.5 7.875 13.3275 7.875 11.875H13.125C13.125 13.3275 14.2975 14.5 15.75 14.5C17.2025 14.5 18.375 13.3275 18.375 11.875H20.125V7.5L17.5 4ZM5.25 13.1875C4.52375 13.1875 3.9375 12.6013 3.9375 11.875C3.9375 11.1488 4.52375 10.5625 5.25 10.5625C5.97625 10.5625 6.5625 11.1488 6.5625 11.875C6.5625 12.6013 5.97625 13.1875 5.25 13.1875ZM17.0625 5.3125L18.7775 7.5H14.875V5.3125H17.0625ZM15.75 13.1875C15.0237 13.1875 14.4375 12.6013 14.4375 11.875C14.4375 11.1488 15.0237 10.5625 15.75 10.5625C16.4762 10.5625 17.0625 11.1488 17.0625 11.875C17.0625 12.6013 16.4762 13.1875 15.75 13.1875Z' fill='%23AE0E30'/%3E%3C/svg%3E");
    }

    .product-cards_shipping-and-payment_item:nth-child(2) .product-cards_shipping-and-payment_icon:after {
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M15.1579 13.3333V14.2222C15.1579 15.2 14.4 16 13.4737 16H1.68421C0.749474 16 0 15.2 0 14.2222V1.77778C0 0.8 0.749474 0 1.68421 0H13.4737C14.4 0 15.1579 0.8 15.1579 1.77778V2.66667H7.57895C6.64421 2.66667 5.89474 3.46667 5.89474 4.44444V11.5556C5.89474 12.5333 6.64421 13.3333 7.57895 13.3333H15.1579ZM7.57895 11.5556H16V4.44444H7.57895V11.5556ZM10.9474 9.33333C10.2484 9.33333 9.68421 8.73778 9.68421 8C9.68421 7.26222 10.2484 6.66667 10.9474 6.66667C11.6463 6.66667 12.2105 7.26222 12.2105 8C12.2105 8.73778 11.6463 9.33333 10.9474 9.33333Z' fill='%23AE0E30'/%3E%3C/svg%3E");
    }

    .product-cards_shipping-and-payment_icon {
        max-width: 40px;
        height: 32px;
    }

    .product-cards_shipping-and-payment_text {
        font-size: 10px;
        line-height: 14px;
    }

    .product-cards_price-and-purchase_discount {
        margin-top: 6px;
    }

    .product-cards_price-and-purchase {
        gap: 10px;
        padding: 30px 22px 0 22px;
        border-left: none;
        border-bottom: none;
    }

    .product-cards_price-and-purchase_manufacturer {
        margin-top: 16px;
        gap: 10px;

        font-size: 12px;
    }


    .product-cards_price-and-purchase_in-stock {
        margin-top: 24px;
    }


    .product-cards_price-and-purchase_add-to-basket,
    .product-cards_price-and-purchase_Buy-in-a-click {
        font-size: 12px;
    }


    .best-price-guarantee-wrapper {
        margin-top: 60px;
        gap: 12px;
    }

    .best-price-guarantee_header {
        font-size: 18px;
        line-height: 26px
    }

    .best-price-guarantee_sub-title {
        max-width: 100%;
        font-size: 14px;
        line-height: 20px;
    }

    .best-price-guarantee {
        margin-top: 8px;
        display: flex;
    }

    .best-price-guarantee_price-from-others-wrapper {
        max-width: 100%;
        border: none;
        padding: 0;
    }

    .price-from-others_head {
        grid-template-columns: 33.3% 33.3% 33.3%;
        border-bottom: none;
        padding-bottom: 0;
        justify-items: center;
    }

    .price-from-others_head_grid-line {
        border-right: solid 2px #E5E5E5;
        padding-bottom: 6px;
        display: flex;
        width: 104%;
        justify-content: center;
    }

    .price-from-others_head_grid-line:last-child {
        border-right: none;
    }

    .price-from-others_head_grid-line:first-child {
        justify-content: flex-start;
    }

    .price-from-others_head_item {
        font-size: 10px;
        font-weight: 500;

        border-right: solid 2px #E5E5E5;
    }

    .best-price-guarantee_price-from-others {
        grid-template-columns: 33.3% 33.3% 33.3%;
        border-bottom: solid 2px #E5E5E5;
        padding: 0;
        height: 52px;
    }

    .price-from-others_item_logo {
        margin-top: 10%;
        display: flex;
        justify-self: center;
        margin-left: -26px;
    }

    .price-from-others_item_text {
        padding: 16px 0 18px 0;
        border-left: solid 2px #E5E5E5;
        display: flex;
        justify-content: center;
    }

    .best-price-guarantee_bottom_sub-title {
        margin-top: 23px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .best-price-guarantee_bottom_sub-title_item {
        display: none;
    }


    .best-price-guarantee_our-price {
        display: none;
    }


    .description-and-specifications_background {
        margin-top: 60px;
    }

    .description-and-specifications {
        padding: 45px 0 40px 0;
    }

    .description-and-specifications_toggle-btn-wrapper {
        gap: 42px;
        flex-direction: column;
    }

    .description-and-specifications_toggle:after {
        width: 18px;
        height: 18px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' viewBox='0 0 18 19' fill='none'%3E%3Cpath d='M2.99951 3.50002L14.3995 14.9' stroke='%23AE0E30' stroke-width='2.16667' stroke-linecap='square'/%3E%3Cpath d='M3.6001 15.5L15.0001 15.5L15.0001 4.1' stroke='%23AE0E30' stroke-width='2.16667' stroke-linecap='square'/%3E%3C/svg%3E");
    }

    .description-and-specifications_toggle-btn {
        font-size: 14px;
        padding-bottom: 4px;
    }

    .description-and-specifications_specifications_item_text {
        font-size: 12px;
    }

    .description-and-specifications_specifications_item_value {
        font-weight: 500;
    }

    .description-and-specifications_description_item {
        font-size: 12px;
    }


    .slider-wrapper-for-goods {
        margin-top: 60px;
        gap: 30px;
        padding-bottom: 66px;
    }

    .slider-wrapper-for-goods_header {
        font-size: 18px;
        line-height: 26px
    }

    .slider-wrapper-for-goods_item {
        gap: 9px;
        padding: 12px;
    }

    .slider-wrapper-for-goods_item_status {
        padding: 4px 6px;
        margin-left: -3px;

        font-size: 8px;
        font-weight: 600;
    }

    .slider-wrapper-for-goods_item_img {
        height: 61px;
        padding: 0;
    }

    .slider-wrapper-for-goods_item_line {
        top: 95px;
    }

    .slider-wrapper-for-goods_item .product-cards_grade-wrappers {
        margin-top: 14px;
    }

    .product-cards_grade-star-wrappers {
        gap: 1px;
    }

    .product-cards_grade-value {
        font-size: 8px;
        font-weight: 400;
    }

    .product-cards_review-value {
        font-size: 8px;
        font-weight: 400;
    }

    .slider-wrapper-for-goods_item_description {
        margin-top: 3px;

        font-size: 11px;
        line-height: 14px
    }

    .slider-wrapper-for-goods_item_prices {
        margin-top: 3px;

        font-size: 14px;
    }

    .slider-wrapper-for-goods_item .product-cards_price-and-purchase_in-stock {
        margin-top: 6px;
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }

    .slider-wrapper-for-goods_item .product-cards_price-and-purchase_add-to-basket {
        margin-top: 9px;
        padding: 0 23px 0 40px;
    }

    .slider-wrapper-for-goods_item .product-cards_price-and-purchase_add-to-basket:before {
        left: 23px;
    }

    .slider-wrapper-for-goods_item .product-cards_price-and-purchase_add-to-basket span.pc-monitor {
        display: none;
    }

    .slider-wrapper-for-goods_item .product-cards_price-and-purchase_add-to-basket span.mobile-monitor {
        display: block;
    }


    .slider-wrapper-for-goods_item .product-cards_price-and-purchase_add-to-basket,
    .slider-wrapper-for-goods_item .product-cards_price-and-purchase_Buy-in-a-click {
        max-width: 100%;
        font-size: 11px;
        font-weight: 400;
        line-height: 18px;
    }


    .slider-wrapper-for-goods_slider-btn-wrapper {
        gap: 11px;
        top: unset;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        width: 92px;
    }

    .slider-wrapper-for-goods_prev,
    .slider-wrapper-for-goods_next {
        width: 40px;
        height: 32px;
    }

    .slider-wrapper-for-goods_prev:after,
    .slider-wrapper-for-goods_next:after {
        max-width: 40px;
        width: 100%;
        height: 32px;
    }

    .slider-wrapper-for-goods_prev:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='32' viewBox='0 0 40 32' fill='none'%3E%3Crect x='0.5' y='0.5' width='39' height='31' stroke='%23DEDEDE'/%3E%3Cpath d='M11.6464 15.6464C11.4512 15.8417 11.4512 16.1583 11.6464 16.3536L14.8284 19.5355C15.0237 19.7308 15.3403 19.7308 15.5355 19.5355C15.7308 19.3403 15.7308 19.0237 15.5355 18.8284L12.7071 16L15.5355 13.1716C15.7308 12.9763 15.7308 12.6597 15.5355 12.4645C15.3403 12.2692 15.0237 12.2692 14.8284 12.4645L11.6464 15.6464ZM28 15.5L12 15.5L12 16.5L28 16.5L28 15.5Z' fill='%23303030'/%3E%3C/svg%3E");
    }

    .slider-wrapper-for-goods_next:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='32' viewBox='0 0 40 32' fill='none'%3E%3Crect width='40' height='32' fill='%23AE0E30'/%3E%3Cpath d='M28.3536 16.3536C28.5488 16.1583 28.5488 15.8417 28.3536 15.6464L25.1716 12.4645C24.9763 12.2692 24.6597 12.2692 24.4645 12.4645C24.2692 12.6597 24.2692 12.9763 24.4645 13.1716L27.2929 16L24.4645 18.8284C24.2692 19.0237 24.2692 19.3403 24.4645 19.5355C24.6597 19.7308 24.9763 19.7308 25.1716 19.5355L28.3536 16.3536ZM12 16.5L28 16.5L28 15.5L12 15.5L12 16.5Z' fill='white'/%3E%3C/svg%3E");
    }

}
